#container {
    width: 45%;
    height: 75%;
    margin: 50px auto;
    border: double;
}

h1 {
    text-align: center;
}

mat-grid-tile {
    background: lightblue;
}

.input-field {
    width: 100%;
}

#reg-btn {
    width: 100%;
}

#footer {
    margin-top: 10px;
    padding-left: 170px;
}