mat-card {
    width: 550px;
    margin: auto;
}

h1 {
    text-align: center;
}

.input-field {
    width: 100%;
}

#reg-btn {
    width: 100%;
}

#footer {
    margin-top: 20px;
    padding-left: 170px;
}

#radio-design {
    margin-left: 200px;
}