<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>RENTING-SYSTEM</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     
    </button>
    
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <!-- <mat-icon>share</mat-icon> -->
      <i class="fa fa-bell" aria-hidden="true" *ngIf="role=='landlord'" (click)="notification()"></i>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <!-- <mat-icon>share</mat-icon> -->

      <i class="fa fa-sign-out fa-lg" routerLink="/register" aria-hidden="true"></i>
    </button>
</mat-toolbar>