<mat-drawer #sidenav class="mt-6" mode="side">

    <!-- <img class="image" src=""> -->
    <img mat-card-avatar [src]="profilePicture" alt="img err">

    <mat-form-field appearance="fill">
        <mat-label>{{firstName + ' ' + lastName}}</mat-label>
        <mat-select>
            <mat-option (click)="editUserDialog()">edit</mat-option>
            <mat-option (click)="changePasswordDialog()">change password </mat-option>

        </mat-select>
    </mat-form-field>
    <mat-divider></mat-divider>
    <div *ngIf="'dashboard'">
        <button mat-button class="menu-button">
       <i class="fa fa-tachometer fa-1x fa-fw" aria-hidden="true"></i>
       <span (click)="redirectDashboard()">DASHBOARD</span>
      </button>
    </div>
 

    <div>
        <button mat-button class="menu-button">
            <i class="fa fa-home fa-1x fa-fw" aria-hidden="true"></i>
     <span>HOME</span>
     </button>

    </div>
    <div>
        <button mat-button class="menu-button">
        <i class="fa fa-cog fa-1x fa-fw " aria-hidden="true"></i>
         <span>MANAGE</span>
         <mat-select>
            <mat-option (click)="listLandlord()">Landlord</mat-option>
            <mat-option [routerLink]="['/list-all-tenants']">Tenant</mat-option>
            <!-- [routerLink]="['/landlordlist'] -->
        </mat-select>
        </button>

    </div>
    <div>
        <button mat-button class="menu-button">
         <i class="fa fa-question-circle fx-1x  fa-fw" aria-hidden="true"></i>
         <span>HELP</span>
         </button>

    </div>

    <div>
        <button mat-button class="menu-button" (click)="RentDetails()">
            
         <span *ngIf="'isAdmin'">RentListDetails</span>
         
        </button>

    </div>




</mat-drawer>
