#container {
    margin-left: 400px;
    width: 50%;
}

#txt-area {
    width: 100%;
}

#hdesign {
    text-align: center;
}

#select-design {
    width: 100%;
}

#btn-design {
    margin-left: 200px;
}

#input-design {
    width: 100%;
}