<mat-card id="container">
    <h1 id="hdesign">Add New Room</h1>
    <mat-form-field id="txt-area" appearance="outline">
        <textarea name="description" placeholder="Description" [(ngModel)]="AddModel.description" matInput></textarea>
      </mat-form-field>
      <div class="row">
        <div class="col">
            <mat-form-field id="input-design" appearance="outline">
                <input matInput placeholder="Street Name" id="input-design"  name="Street" [(ngModel)]="AddModel.Street">
                </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field id="input-design" appearance="outline">
                        <input matInput placeholder="City"  name="city"[(ngModel)]="AddModel.city">
                        </mat-form-field>
                        </div>
</div>
<div class="row">
    <div class="col">
        <mat-form-field id="select-design" name="state" appearance="outline">
            <mat-label>Select State</mat-label>
              <select matNativeControl name="state" [(ngModel)]="AddModel.state">
                <option >Jammu & Kashmir</option>
                <option >Delhi</option>
                <option >Mumbai</option>
              </select>
            </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field id="select-design" name="district" appearance="outline">
                    <mat-label>Select District</mat-label>
                      <select matNativeControl name="district" [(ngModel)]="AddModel.district">
                        <option >Srinagar</option>
                        <option >baramulla</option>
                        <option >anantnag</option>
                      </select>
                    </mat-form-field>    
            
            </div>
</div>
<div class="row">
    <div class="col">
        <mat-form-field id="input-design" appearance="outline">
            <input matInput placeholder="landmark"  name="landmark">
            </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field id="input-design" appearance="outline">
                    <input matInput placeholder="pincode" [(ngModel)]="AddModel.pincode"  name="pincode">
                    </mat-form-field>
                    </div>
</div>


<div class="row">
    <div class="col">
        <mat-form-field id="input-design" appearance="outline">
            <input matInput placeholder="upload document"  name="upload_document" [(ngModel)]="AddModel.upload_document">
            </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field id="input-design" appearance="outline">
                    <input matInput placeholder="images"  name="images" [(ngModel)]="AddModel.images">
                    </mat-form-field>
                    </div>
</div>

  <mat-form-field id="select-design" name="roomtypes" appearance="outline">
  <mat-label>Enter Room type:</mat-label>
    <select name="room_types" [(ngModel)]="AddModel.room_types" matNativeControl>
      <option name="1bhk">1BHK</option>
      <option name="2bhk" >2BHK</option>
      <option name="3bhk">3BHK</option>
    </select>
  </mat-form-field>
  <button id="btn-design" (click)="Addroom()"  mat-raised-button color="primary">Add Room</button>

</mat-card>

