mat-card {
    width: 50%;
    margin: auto;
}

#txt-area {
    width: 100%;
}

#hdesign {
    text-align: center;
}

#select-design {
    width: 100%;
}

#input-design {
    width: 100%;
}

@media only screen and (min-width: 700px) {
    button {
        margin-left: 150px;
    }
}