#container {
    width: 400px;
    height: 70%;
    margin: 50px auto;
    border-style: double;
}

#email {
    width: 100%;
    border: none;
    height: 100%;
    border-radius: 5px;
}

#pwd {
    width: 100%;
    border: none;
    height: 100%;
    border-radius: 5px;
}

#radio-design {
    margin-left: 50px;
}

mat-radio-button {
    margin-left: 16px;
}

#bttn {
    border: none;
    width: 100%;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 30px;
}

#footer {
    margin-top: 30px;
    padding-left: 100px;
}