mat-card {
    cursor: pointer;
    width: 40%;
    margin: 100px auto;
}

h1 {
    text-align: center;
}

mat-form-field {
    width: 100%;
}

button {
    width: 100%;
}

#footer {
    text-align: center;
    margin-top: 20px;
}